.editMessage {
    padding: 1rem;
    margin: 1rem;
    background: #333333;
    filter: drop-shadow(0 0 0.75rem #c7d2db);
    border-radius: .2rem;

    h4 {
        display: inline-block;
        margin-right: 1rem;
    }
}

textarea {
    margin: 1rem;
}