.main {
    padding: 1rem;
    position: absolute;
    background: #212121;
    border-radius: .2rem;
    border: 1px solid rgb(165, 98, 120);
    z-index: 1;
    left: 90px;
}

.inMenu {
    padding: 1rem;
    position: absolute;
    background: #212121;
    border-radius: .2rem;
    border: 1px solid rgb(165, 98, 120);
    z-index: 1;
    left: 110px;
    top: 70px;
}